nav{
    display:inline-table;
    font-style : robot;
    color: whitesmoke;
    
    border: 0in;
    pad: -moz-linear-gradient();
    margin: auto;

}
p{
    font-style: italic;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: auto;
}
image{
    width: 99%;
    min-height: fit-content;
    padding: 55%;
}
input{
    border-style: groove;
    margin: 22px 19px;

}
section{
    padding: 20px;
    border: 20px;
    margin: auto;
    display: block;
}
P{
    font-size: larger;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
